<div class="message-input">
    {{{Textarea placeholder="Message..." value=input onInput=handleInput}}}
    {{{Button 
        text="send icon" 
        iconSrc=sendIcon 
        modifier="icon" 
        disabled=disabledSend 
        onClick=handleSend
    }}}
</div>