<div class="message-input">
    {{{Textarea placeholder="Message..." value=input onInput=onInput}}}
    {{{Button 
        text="send icon" 
        iconSrc=sendIcon 
        modifier="icon" 
        disabled=disabledSend 
        onClick=onSend
    }}}
</div>