<!DOCTYPE html>
<html lang="en">
    {{> head 'MeowTalk - error' }}
    <body>
        <div class="app">
            <main class="error-container">
                <img src="{{ this.src }}" alt="{{ this.alt }}" />
                <p class="error-message">{{ this.message }}</p>
            </main>
        </div>
    </body>
</html>