<div class="main-header">
    {{#if backLink}}
        <a class="main-header-back" href="{{backLink}}">
            <img class="main-header-icon" src="{{backIcon}}" alt="back" />
            Back
        </a>
    {{/if}}
    <h2 class="main-header-title">{{title}}</h2>
</div>