.input {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: var(--spaces-6);
}

.input-label {
  font-size: var(--label-font-size);
  color: var(--black);
}

.input-field {
  width: 264px;
  height: 32px;
  padding: var(--spaces-4) var(--spaces-12);
  border: var(--field-border-width) solid var(--gray);
  border-radius: var(--field-border-radius);
  font-family: var(--font-family-set);
  font-size: var(--regular-font-size);
}

.input-field::placeholder {
  font-family: var(--font-family-set);
  font-size: var(--regular-font-size);
  color: var(--gray);
}

.input-field.error {
  border-color: var(--error);
}

.input-error-text {
  color: var(--error);
}
