:root {
  --font-family-set: "Open Sans", sans-serif;

  /* basic colors */
  --white: #fff;
  --gray: #d6d6d6;
  --black: #000;
  --shadow-color: rgb(0 0 0 / 4.3%);

  /* palette */
  --light-green: #d5e5e2;
  --bright-green: #54b8b5;
  --light-pink: rgb(249 196 188 / 40%);
  --pink: #f9c4bc;
  --bright-pink: #fe9d97;
  --dirty-pink: #e3aaa5;

  /* font sizes */
  --regular-font-size: 14px;
  --label-font-size: 16px;
  --title-font-size: 20px;

  /* font weights */
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semi-bold-font-weight: 600;
  --bold-font-weight: 700;

  /* border widths */
  --field-border-width: 1px;

  /* border radiuses */
  --field-border-radius: 2px;
  --section-border-radius: 10px;

  /* spaces */
  --spaces-4: 4px;
  --spaces-6: 6px;
  --spaces-8: 8px;
  --spaces-12: 12px;
  --spaces-16: 16px;
  --spaces-24: 24px;
  --spaces-32: 32px;
  --spaces-64: 64px;
}
