@import '../partials/input/style.css';
@import '../partials/button/style.css';
@import '../partials/sidebar/style.css';
@import '../partials/form/style.css';
@import '../partials/main-header/style.css';
@import '../partials/page-error/style.css';
@import './settings.css';
@import './constants.css';

* {
    box-sizing: border-box;

    font-family: var(--font-family-set);
    font-size: var(--regular-font-size);
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: var(--light-green);
}

.app-container {
    width: 1024px;
    height: 680px;
    margin: calc(var(--spaces-8) + var(--spaces-32)) calc(var(--spaces-64) + 3 * var(--spaces-12));

    border-radius: var(--section-border-radius);
    background-color: var(--white);
}

.main {
    display: flex;
    height: 100%;
}

.small-container {
    display: flex;
    flex-direction: column;

    width: 392px;
    padding: var(--spaces-32) var(--spaces-64);

    border-radius: var(--section-border-radius);
    background-color: var(--white);
}

.logo {
    width: 115px;
    height: 28px;
    margin-bottom: var(--spaces-12);

    background-image: url(../../static/logo.svg);
}

.title {
    margin: 0 0 var(--spaces-12);
    text-align: center;

    font-size: var(--title-font-size);
    color: var(--bright-green);
}
