<main class="small-container">
    <div>
        <div class="logo" ></div>
        <h1 class="title">Sign Up</h1>
        {{{Form 
            fields=formData.fields
            buttons=formData.buttons 
            validate=validate 
            formSubmit=formSubmit
        }}}
    </div>
</main>
