---
menuItems:
    -
        label: 'User info'
        modifier: ''
        icon: '../../static/icons/user.svg'
    -
        label: 'Password settings'
        modifier: 'active'
        icon: '../../static/icons/lock.svg'

formData:
    fields: 
        - 
            label: 'Old password'
            type: 'password'
            placeholder: 'Enter your current password'
        - 
            label: 'New password'
            type: 'password'
            placeholder: 'Enter your new password'
        - 
            label: 'Repeat password'
            type: 'password'
            placeholder: 'Repeat password'

    buttons:
        -
            type: 'submit'
            modifier: 'primary'
            text: 'Change'
---

{{!< settings-wrapper }}

<div class="main">
    {{> 'sidebar/sidebar' menuItems }}
    <div class="main-section">
        {{> 'main-header/main-header' 'Password settings' }}
        
        <div class="main-content">
            <div class="content-left">
                {{> 'form/form' formData }}
            </div>
        </div>
    </div>
</div>