---
formData:
    fields: 
        - 
            label: 'Login'
            type: 'text'
            placeholder: 'Enter your login'
        - 
            label: 'Password'
            type: 'password'
            placeholder: 'Enter your password'

    buttons:
        -
            type: 'submit'
            modifier: 'primary'
            text: 'Sign In'
        -
            type: 'button'
            modifier: 'link'
            text: 'Sing Up'

---

{{!< sign-in-wrapper }}

<div>
    <div class="logo" ></div>
    <h1 class="title">Sign In</h1>
    {{> 'form/form' formData }}
</div>