<div class="main-content">
    <div class="content-left">
        {{{Form 
            fields=formData.fields 
            buttons=formData.buttons 
            validate=validate 
            formSubmit=formSubmit
        }}}
    </div>
</div>
