<section class="sidebar">
    <div class="sidebar-header">
        <img src="../../static/logo.svg" alt="logo" />
    </div>
    <ul class="sidebar-list">
        {{#each this }}
            <li class="sidebar-listItem {{ this.modifier }}">
                <img src="{{ this.icon }}" alt={{ this.label }}/>
                {{ this.label }}
            </li>
        {{/each}}
    </ul>
</section>