<!DOCTYPE html>
<html lang="en">
    {{> head 'MeowTalk - Sign In' }}
    <body>
        <div class="app">
            <main class="small-container">
                {{{body}}}
            </main>
        </div>
    </body>
</html>