<div class="main-header">
    <div class="main-header-back">
        <img class="main-header-icon" src="../../static/icons/left-arrow.svg" alt="back" />
        Back
    </div>
    <h2 class="main-header-title">{{ this }}</h2>
    <div></div>
</div>