.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 52px;
    width: 100%;
    padding: 0 var(--spaces-24);

    border-bottom: var(--field-border-width) solid var(--dirty-pink);
    border-radius: 0 var(--section-border-radius) 0 0;

    background-color: var(--bright-pink);
    color: var(--white);
}

.main-header-back {
    display: flex;
    align-items: center;

    font-size: var(--label-font-size);

    cursor: pointer;
}

.main-header-icon {
    margin: var(--spaces-6) var(--spaces-8) 0 0;
}

.main-header-title {
    margin: 0;

    font-size: var(--title-font-size);
    font-weight: var(--bold-font-weight);
}